# -----------------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# -----------------------------------------------------------------------------
*.bak
*.bck
*.tmp
*~
~$*

# -----------------------------------------------------------------------------
.vscode/
.idea/

# -----------------------------------------------------------------------------
*.gbr
*.drl
*.gko
*.gm1
*.gbl
*.gtl
*.gbs
*.gts
*.gbo
*.gto
